<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="3">

  <test name="TestOnChrome">
  <parameter name="browserName" value="chrome"></parameter>
    <classes>
      <class name="test.TestNGMultiBrowserDemo"/>
    </classes>
  </test>
  
  <test name="TestOnFirefox">
  <parameter name="browserName" value="firefox"></parameter>
    <classes>
      <class name="test.TestNGMultiBrowserDemo"/>
    </classes>
  </test>
  
  <test name="TestOnEdge">
  <parameter name="browserName" value="edge"></parameter>
    <classes>
      <class name="test.TestNGMultiBrowserDemo"/>
    </classes>
  </test>
  
</suite>
